extends layout

block content

	div.ui.page.grid
		div.row
		div.row
			div.column.padding-reset
				div.ui.large.message
					h1.ui.huge.header Account Activation
					include ./message
					a.ui.large.green.button(href="/") Go To Homepage
