extends layout

block content

	div.ui.page.grid
		div.row
		div.row
			div.column.padding-reset
				div.ui.large.message
					h1.ui.huge.header Forgot Your Password?
					include ./message
					p Enter your email below, so that we can send you a password reset email.
					form.ui.form(action="/user/forgotpassword", method="POST")
						div.field
							div.ui.left.icon.large.input
								input(name="email", type="text", placeholder="Email")
								i.mail.icon
						div.ui.buttons
							button.ui.red.large.submit.button(type="submit") Send Password Reset Email
							div.or
							a.ui.large.button(href="/") Go Back
