extends layout

block content

	div.ui.page.grid
		div.row
		div.row
			div.column.padding-reset
				div.ui.large.message
					h1.ui.huge.header Reset Password
					include ./message
					if (codeExists && !submitted)
						p Please enter your new password below.
						form.ui.form(action="/password/reset", method="POST")
							div.ui.error.message
							div.field
								div.ui.left.icon.large.input
									input(name="password", type="password", placeholder="Password")
									i.mail.icon
									div.ui.corner.label
										i.asterisk.icon
							div.field
								div.ui.left.icon.large.input
									input(name="confirm-password", type="password", placeholder="Confirm Password")
									i.mail.icon
									div.ui.corner.label
										i.asterisk.icon
							input(name="code", value="#{resetCode}", type="hidden")
							button.ui.red.large.submit.button(type="submit") Save Password
					else if (!codeExists && !submitted)
						p Password reset code could not be found.
						a.ui.red.large.button(href="/") Go To Homepage
					else
						a.ui.red.large.button(href="/") Go To Homepage
